
p {
    font-weight: bold;
    font-size: 1.1em;
}

button {
    z-index: 2;
}

body {
    min-height: 1200px;
}

button {
    font-size: 110%;
}

.second-header {
    height: 20vh;
    display: flex;
}

.answers {
    padding: 4vh 0 2vh 1vw;
    width: 40vw;
    height: 100%;
    margin: 2vh 0 0 0;
    font-size: 1.1em;
}

.answers p {
    margin: 1vh 0 1vh 2vw;
    font-size: 110%;
}

.calculate-button {
    width: 50vw;
    height: 100%;
    margin: 2vh 0 0 0;
}

.calculate-button button {
    padding: 1vh 1vh;
    margin: 4vh 0 0 1vh;
    font-size: 1.2em;
}

.wrap {
    display: flex;
}

.wrap h2 {
    margin: 1vh 0 0 0;
}

.wrap button {
    padding: 1vh 1vh;
}


.A {
    height: 50vh;
    width: 50vw;
    max-width: 200px;
    padding: 0 0 0 2vw;
    margin-left: 10px;
}

.A p {
    margin: 2vh 0 0 0; 
}

.A h2 {
    padding: 1vh 0 1vh 2vh;
    margin-left: -1vw;
}

.A button {
    margin: 3vh 0 0 0;
}


.B {
    height: 50vh;
    width: 25vw;
    max-width: 200px;
    padding: 0 0 0 2vw;
}

.B h2 {
    padding: 1vh 0 1vh 2vh;
    margin-left: -1vw;
}

.B p {
    margin: 2vh 0 0 0; 
}

.B button {
    margin: 3vh 0 0 0;
    align-items: center;
}

.A .might-button {
    margin-top: 4px;
    margin-left: 1vw;
}

.B .might-button {
    margin-top: 4px;
    margin-left: 1vw;
}

.might-button {
    width: 7vw;
    height: 7vh;
    font-size: 1.4em;
    max-width: 80px;
    max-height: 60px;
    padding: 10px;
}

.might-button:hover {
    background-color: #b79a49;
}

#button-A-2h-weapon {
    margin-top: 2vh;
}

#button-B-2h-weapon {
    margin-top: 2vh;
}



@media screen and (max-width: 1450px) {

    .might-button {
        width: 10vw;
    }
}


@media screen and (max-width: 830px) {

    .answers {
        width: 70vw;
    }
    
    .wrap {
        display:block;
        padding-left: 10px;
    }
    
    .wrap button {
        margin: 0 0 0 0;
    }

    .calculate-button {
        margin: 2vh 0 0 0;
    }
    
    .A {
        height: 50vh;
        min-width: 100%;
        padding: 0 0 0 4vw;
        margin-top: 25px;
        margin-left: 1vw;
    }
    
    .A h2 {
        padding: 2vh 0 0 0;
    }
    
    
    
    .B {
        height: 50vh;
        min-width: 100%;
        padding: 0 0 0 4vw;
        margin-top: 15px;
        margin-left: 1vw;
        
    }
    
    
    .B h2 {
        padding: 2vh 0 0 0;
    }
    
    .answers {
        padding: 1vh 0 1vh 3vw;
        margin: 2vh 0 0 0;
    }
    
    .answers p {
        margin: 2vh 0 2vh 2vw;
    }

    .fight-calculator-background {
        margin: 5vh 0 0 5vw;
    }

    .A .might-button {
        margin: 10px 0px 10px 20px;
    }

    .B .might-button {
        margin: 10px 0px 10px 20px;
    }

    .might-button {
        width: 15vw;
    }
    
}


@media screen and (max-width: 830px) {
    .might-button {
        width: 25vw;
    }

}

@media screen and (min-width: 2000px) {
    .calculate-button button {
        margin-top: 4vh;
        padding: 15px;
        position:absolute;
        left: 20vw;
    }

    .might-button {
        padding: 15px;
    }

    .A .might-button {
        margin-left: 5px;
    }
    
    .B .might-button {
        margin-left: 5px;
    }
}