.wrap {
    margin: 2vh 0 0 2vh;
    margin-left: 20px;
}

body {
    min-height: 1200px;
}

p {
    font-size: 1.2em;
}

#calculate-button {
    width: 5vw;
    height: 2vw;
    min-width: 120px;
    min-height: 45px;
    font-size: 1.3em;
    margin-bottom: 20px;
    padding: 5px;
}

#spell-works-button {
    width: 5vw;
    height: 3vw;
    font-size: 1.7em;
    min-width: 70px;
    min-height: 40px;
}

#spell-works-button:hover {
    background-color: #b79a49;
}

.wrap button {
    margin: 1vh 0 1vh 0;
}

.might-button {
    margin-top: 4px;
    margin-left: 2vw;
}

.might-button {
    margin-top: 4px;
    margin-left: 2vw;
}

.might-button {
    width: 5vw;
    height: 3vw;
    font-size: 1.4em;
    min-width: 70px;
    min-height: 40px;
}

.might-button:hover {
    background-color: #b79a49;
}


@media screen and (max-width: 830px) {


    .wrap {
        padding-left: 10px;
    }

    .might-button {
        margin: 10px 0px 10px 20px;
    }

    .might-button {
        margin: 10px 0px 10px 20px;
    }
    
}

